.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgb(85, 5, 85);
  border-radius: 4px;
  height: 100px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
}

.searchbarInput {
  margin-left: 5px;
}
